[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/Catch2"]
	path = 3rdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "3rdparty/asmjit"]
	path = 3rdparty/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "3rdparty/blend2d"]
	path = 3rdparty/blend2d
	url = https://github.com/blend2d/blend2d
